@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#060606];
}

body #__next {
  @apply flex flex-row;
  @apply bg-[#060606];
  @apply text-white;
  @apply lg:h-screen;
  @apply w-full;
}

ul li.links {
  @apply w-full p-4 text-center hover:bg-white/10;
  @apply transition-all duration-150 ease-in-out;
}

ul li.links a {
  @apply group-hover:bg-white/10;
  @apply text-base;
}

.important {
  @apply font-medium underline decoration-white/80 decoration-1 underline-offset-4;
}


/* CSS code for mixin scrollbars */

/* For Google Chrome */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #b0b3b8;
  }
  
  ::-webkit-scrollbar-track {
  background: #515253;
  }
  
  /* For Internet Explorer */
  
  * {
  scrollbar-face-color: #b0b3b8;
  scrollbar-track-color: #515253;
  }